<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
		<script type="text/javascript" src="js/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="js/main.js" ></script>
	</head>
	<body style="background-image: url(<%- bgurl%>);">

		<% include common/header.html %>
		<div class="container">
			<div class="article_show">
				<h1 class="aricle_title"><%- title%></h1>
				<div class="aricle_author"><%- author%></div>
				<div class="article_content">
					<%- content%>
				</div>
				<div class="button">随机一篇</div>
			</div>
		</div>
		<% include common/footer.html %>

	</body>
</html>
