<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/voice.css"/>
		<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		
		<script type="text/javascript" src="js/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="js/voice.js"></script>
		
	</head>
	<body>
		<% include common/header.html %>
		<div class="container">
			<h2>声音作品</h2>
			<div class="voice_list">
				
				<% if (data.length) { %>
					<% data.forEach(function(voice_item){ %>
						<div class="voice_item">
							<div class="img_cover"></div>
							<img src=<%-voice_item.img_src %> class="img" />
							<div class="title"><a href=""><%-voice_item.title %></a></div>
							<div class="author"><%-voice_item.author %></div>
							<span class="voice_num"><%-voice_item.voice_num %></span>
						</div> 
				    <% }) %>    
				<% } %>
				
			</div>	
			<div class="nav">
				<a href="/voice2">首页</a>
				<% if (arrary) { %>
					<% arrary.forEach(function(num){ %>
						<% if(num == page){ %>
							<a class="nowPage" href=<%- "http://localhost:3000/voice2?page=" + num %>><%-num %></a>
						<% }else{%>
							<a href=<%- "/voice2?page=" + num %>><%-num %></a>
						<% }%>
						
				    <% }) %>    
				<% } %>				
				...
			</div>			
		</div>

		<% include common/footer.html %>
	</body>

</html>
