<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/m/mindex.css"/>
		<title></title>
	</head>
	<body>
		<div class="header">
			<a href="/">文章</a>
			<a href="/voicelist">声音</a>
			<a href="">关于</a>
		</div>
		
		<div class="container">
			<h2><%- title%></h2>
			<div class="author">
				<%- author%>
			</div>
			<div class="article">
				<%- content%>
			</div>
		</div>
	
		<div class="random_btn">
			<a href="/random">随机一篇</a>
		</div>
		
		<div class="footer">
			<a href="">关于</a>
			<a href="">建议</a>
			
			<p>Powered By Zack.</p>
		</div>
		
	</body>
</html>
