<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/m/mvoiceplay.css"/>
		<script type="text/javascript" src="js/jquery-2.1.0.js"></script>
		<script type="text/javascript" src="js/m/mvoiceplay.js"></script>	
		
		<title></title>
	</head>
	<body style="background: url(<%- img_url%>) repeat fixed center top #F0F8FF;">
		<div class="header">
			<a href="/">文章</a>
			<a href="/voicelist">声音</a>
			<a href="">关于</a>
		</div>
		<div class="play_bk">
			<h1><%- title%></h1>
			

			<div class="player_custom">
				<audio src=<%- voice_url.replace('/voice/','http://oztlwbo2e.bkt.clouddn.com/')%>></audio>
				<img src="img/play.png"/>
				<div class="wrap">
					<div class="title"><%- title%></div>
					<div class="seekbar">
						<span class="seekbar_jd"></span>
					</div>						
				</div>
				<span class="current_time">01:45</span>
			</div>
			<p><%- author%></p>
		</div>		

	
		<div class="random_btn">
			
			<a href="/playrandom">随机一篇</a>
			
		</div>
		
		<div class="footer">
			<a href="">关于</a>
			<a href="">建议</a>
			
			<p>Powered By Zack.</p>
		</div>
		
	</body>
</html>
